<footer class="cot-footer footer bg-c-white text-c-black" id="footer">      
    <div class="container">
      <div class="cot-footer-container row justify-content-around align-items-top">
        <div class="col-md align-self-top">
          <div class="footer-content"> 
            <div class="tucsonaz-site-logo">
              <div class="site-logo">
                <a href="https://www.tucsonaz.gov/" class="site-logo-link">
                  <span class="visuallyhidden">City of Tucson</span>
                </a>
              </div>
            </div>      
          </div>
        </div> 
        <div class="col-md align-self-top">
          <div class="footer-content">
            <h2>Contact Us</h2>
            <p>
            City of Tucson<br>
            255 W. Alameda St.<br>
            Tucson, Arizona 85701<br>
            <a href="https://www.google.com/maps/place/225+W+Alameda+St,+Tucson,+AZ+85701/@32.2229696,-110.9768213,17z/data=!3m1!4b1!4m5!3m4!1s0x86d671201b629415:0xd20da45e0e56f47e!8m2!3d32.2229696!4d-110.9746273">View on Map</a>
            </p>
          </div>
        </div>
        <div class="col-md align-self-top">
          <div class="footer-content share-connect">
            <h2>Share & Connect</h2>
            <ul class="footer-links with-icons social-media-links">  
              <li class="footer-link-facebook">
                <a href="https://www.facebook.com/CityOfTucson" class="social-media-icon icon-facebook"><span class="social-media-text">Like us on Facebook</span></a>
              </li>
              <li class="footer-link-twitter">
                <a href="https://twitter.com/cityoftucson" class="social-media-icon icon-twitter"><span class="social-media-text">Follow us on Twitter</span></a>
              </li>
              <li class="footer-link-youtube">
                <a href="https://www.youtube.com/user/CityofTucson" class="social-media-icon icon-youtube"><span class="social-media-text">Watch our YouTube Channel</span></a>
              </li>
              <li class="footer-link-instagram">
                <a href="https://www.instagram.com/cityoftucson/" class="social-media-icon icon-instagram"><span class="social-media-text">Follow us on Instagram</span></a>
              </li>
              <li class="footer-link-tiktok">
                <a href="https://www.tiktok.com/@city_of_tucson" class="social-media-icon icon-tiktok"><span class="social-media-text">Follow us on TikTok</span></a>
              </li>
              <li class="footer-link-nextdoor">
                <a href="https://nextdoor.com/agency-detail/az/tucson/city-of-tucson-az" class="social-media-icon icon-nextdoor"><span class="social-media-text">Follow us on Nextdoor</span></a>
              </li>
              <li class="footer-link-email">
                <a href="https://public.govdelivery.com/accounts/AZTUCSON/subscriber/topics" class="social-media-icon icon-email"><span class="social-media-text">Sign up for Email Updates</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-banner">
      <div class="bottom-banner-container container">
        <div class="row justify-content-between align-items-center">
          <div class="left-bottom-banner col-7 text-start">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#">Privacy Policies</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Employment</a></li>
            </ul>
          </div>
          <div class="right-bottom-banner col-5 text-end">
            &copy; {% now "Y" %} City of Tucson
          </div>
        </div>
      </div>
    </div>
</footer>