@font-face { // icon fonts from https://icomoon.io/
  font-family: '#{$c-font-name}';  
  src:url('../fonts/#{$c-font-name}.eot');
  src:url('../fonts/#{$c-font-name}.eot?#iefix') format('embedded-opentype'),
  url('../fonts/#{$c-font-name}.woff') format('woff'),
  url('../fonts/#{$c-font-name}.ttf') format('truetype'),
  url('../fonts/#{$c-font-name}.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
} 

.visuallyhidden {
  @extend %visuallyhidden;
}

.visuallyshow {
  @extend %visuallyshow;
}