<div class="container-fluid bg-dark">
    <div class="btn-group mt-2 mb-2">
        <button class="btn btn-secondary dropdown-toggle-split" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-gear"></i>
        </button>
        <a class="btn btn-secondary" href="{% url 'admin:index' %}" role="button">Admin</a>
    </div>
    <div class="collapse mb-2" id="collapseExample">
        <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
</div>
